$azul-mate: #246cf4;
$azul-girs:#7cb4fc;
$azul-oscuro: #062f7e;
$gris: #7c7c84;
$gris-oscuro: #444c4c;
$opaco:#25496f;
$white: #fff;
$black: #000;


//fonts
$small: 16px;
$medium: 20px;
$big: 36px;

//space padding
$large-padding: 10px 15px;
$big-padding: 20px 30px;

//margen
$def-margin-top:30px;
$big-margin-top:90px;

// border
$border-radius: 4px;